<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sku Management Tool</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<!-- Navigation Links -->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Active SKUs -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="active-skus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Active SKUs
            </NavLink>
        </div>
        <!-- Add SKU -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-sku">
                <span class="oi oi-plus" aria-hidden="true"></span> Add SKU
            </NavLink>
        </div>
        <!-- Deactivated SKUs -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deactivated-skus">
                <span class="oi oi-ban" aria-hidden="true"></span> Deactivated SKUs
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
